<!doctype html>
<html>
  <head>
    <title>Dromader</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <style>
        html {
            width:98%;
        }

        #map {
            height:900px;
        }

        #sidebar h4 {
            margin-top:10px;
        }

    </style>
  </head>
  <body>
    <div id="app">
    <div class="row">
        <div class="col-lg-9">
            <div id="map">
           
            </div>
        </div>
        <div class="col-lg-3">
            <div id="sidebar">
                <h4>Ostatnie odczyty</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numer</th>
                            <th>Data</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in locations">
                            <td>{{ item._id }}</td>
                            <td>{{ item.timestamp }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h4>Użytkownicy</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Numer</th>
                            <th>Kod</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in users">
                            <td>{{ item.phone }}</td>
                            <td>{{ item.code }}</td>
                            <td><a href="javascript:void(0)" class="btn btn-danger" v-on:click="deleteUser(item.phone)">Usuń</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <h4>Dodaj użytkownika</h4>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Numer telefonu</label>
                        <input type="email" v-model="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Numer telefonu">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Kod</label>
                        <input type="text" v-model="code" class="form-control" id="exampleInputPassword1" placeholder="Kod">
                    </div>
                    
                    <a href="javascript:void(0)" v-on:click="addUser()" class="btn btn-primary">Dodaj</a>
                </form>
                <br>
                <h4>Log</h4>
                <div id="#log" style="overflow-y: scroll; height:50px;">
                    <span v-for="item in logs">{{ item.timestamp }} {{ item.text }}<br>
                </div>
                <br><br>
            </div>
        </div>
    </div>
  </div>
  </body>
  <script>
    var app = new Vue({
        el:"#app",
        data:{
            map:undefined,
            locations:[],
            users:[],
            phone:"",
            code:"",
            logs:[],
            url:"http://"+window.location.hostname+":8081",
            marker:undefined,
            mapMarkers:[]
        },

        mounted() {
          this.map = L.map('map').setView([52.409021, 16.934769], 13);
          L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                maxZoom: 18,
            }).addTo(this.map);

         this.getUsers()
         this.getLastLocations()
         
         

         setInterval(async()=>{
             await this.getLastLocations()
         },4000);
        },

        methods:{
            async deleteUser(phone) {
                try {
                    var response = await axios.post(this.url+'/user/remove/'+phone,{withCredentials: true})
                    this.log("Usunięto użytkownika");
                    this.getUsers();
                } catch(error) {
                    this.log("Błąd podczas usuwania użytkownika")
                    console.error(error);
                }
                 
            },

            async getLastLocations() {
                try {
                    var response = await axios.get(this.url+'/last',{withCredentials: true});
                    this.log("Pobrano listę ostatnich lokalizacji");
                    for(var i=0;i<response.data.length;i++) {
                        response.data[i].timestamp = moment(response.data[i].timestamp).format("DD-MM-YYYY HH:mm:ss")
                    }
                    this.locations = response.data;
                    for(var i = 0; i < this.mapMarkers.length; i++){
                        this.map.removeLayer(this.mapMarkers[i]);
                    }
                    for(var i=0;i<this.locations.length;i++) {
                        var marker = L.marker([this.locations[i].lat,this.locations[i].lng]).bindTooltip(this.locations[i]._id).addTo(this.map)
                        this.mapMarkers.push(marker) 
                    }

                } catch(error) {
                    this.log("Błąd podczas pobierania ostatnich lokalizacji")
                    console.log(error);

                }
                

            },

            async addUser() {
                try {
                    var response = await axios.post(this.url+'/user',{phone:this.phone,code:this.code},{withCredentials: true})
                    this.log("Utworzono użytkownika");
                    this.getUsers()
                } catch(error) {
                    this.log("Błąd podczas tworzenia użytkownika")
                    console.error(error)
                }
            },

            async getUsers() {
                
                try {
                    var response = await axios.get(this.url+'/user',{withCredentials: true})
          
                    this.users = response.data;
                } catch(error) {
                    this.log("Błąd podczas pobierania listy użytkowników")
                    console.error(error);
                    this.users = []
                } 
                
                
            },

            log(string) {
                this.logs.unshift({timestamp:moment().format("HH:mm:ss"),text:string});
            }
        }
    })
  </script>
</html>